{% extends 'blog/base.html' %}

{% block a %}Reset Complete{% endblock %}

{% block b %}
<style>
     /* Center the content on the page */
.containerz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Style the headings */
h3 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

/* Style the link to the login page */
a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


</style>
<div class="containerz">
    <h3>Your password has been successfully reset.</h3>
    <h3><a href="{% url 'login' %}">Log In</a></h3>
</div>
{% endblock %}


