
{%extends 'blog/base.html'%}
{%load crispy_forms_tags%}

{%block a %}profile{%endblock%}

{%block b %}

<div class="profile">
  <div class="profile-picturez">
    <img  src="{{ user.profile.image.url }}" alt="Profile Picture">
  </div>
  <div class="profile-info">
    <h2>Username: {{ user.username }}</h2>
    <h3>Email: {{user.email}}</h3>
  </div>
</div>
<form method="post" enctype="multipart/form-data">
  {%csrf_token%}
  {{p_form|crispy}}
  {{u_form|crispy}}
  <input type="submit" value="Update">
  </form>
{%endblock%}



