{% extends 'blog/base.html' %}

{% block a %}home{% endblock %}

{% block b%}
<style>
.post-container {
  display: flex;
  flex-wrap: wrap;
}

.post {
  width: calc(100% - 10px);
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin-right: 10px;
}

.profile-picture img {
  width: 100%;
}

a {
  color: #007bff; /* Sets the link color to blue */
  text-decoration: none; /* Removes the default underline */
}

a:hover {
  text-decoration: underline; /* Underlines the link on hover */
}

.post .title {
  margin-bottom: 5px;
}

.post .actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.post .actions a {
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  margin-left: 10px;
  text-decoration: none;
  font-size: 14px;
}

.post .actions a:hover {
  background-color: #0069d9;
}

.post .actions .delete {
  background-color: #dc3545;
}

.post .actions .delete:hover {
  background-color: #c82333;
}
</style>

<div class="post-container">
  <div class="post">
    <div class="profile-picture">
      <img src="{{post.author.profile.image.url}}" alt="Profile Picture">
    </div>
    <h2 class="title">{{ post.title }}</h2>
    {% if user == object.author %}
      <div class="actions">
        <a href="{% url 'update' object.id %}">Update</a>
        <a href="{% url 'delete' object.id %}" class="delete">Delete</a>
      </div>
    {% endif %}
    <div class="meta">
      <div class="author">
        <span class="author-icon">🧔</span> <b><a href="{% url 'user-post' post.author.username %}">{{ post.author }}</a></b>
      </div>
      <div class="date">{{ post.date }}</div>
    </div>
    <div class="content">
      <p>{{ post.content }}</p>
    </div>
  </div>
</div>
{% endblock %}
