{% extends 'blog/base.html' %} {% block a %}posts{% endblock %} 
{% block b%}


<div class="post-container">
  <h2>post by {{view.kwargs.username}} ({{page_obj.paginator.count}})</h2>
  {% for post in posts %}
  <div class="post">
    <div class="profile-picture">
      <img src="{{post.author.profile.image.url}}" alt="Profile Picture" />
    </div>
    <a class="a" href="#">
      <a href="{% url 'detail' post.id %}"
        ><h2 class="title">{{ post.title }}</h2></a
      >
    </a>

    <div class="meta">
      <div class="author">
        <span class="author-icon">🧔</span> <b>{{ post.author }}</b>
      </div>
      <div class="date">{{ post.date }}</div>
    </div>
    <div style="position: relative; display: inline-block">
      <img
        src="{{post.post_image.url }}"
        alt="Image description"
        style="object-fit: cover; width: 600px; height: 300px"
      />
      <a
        href="{{post.post_image.url}}"
        class="expand-image"
        onclick="expand()"
        target="_blank"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 586.09999 586.09996"
        >
          <path
            fill="rgb(0, 0, 255)"
            d="M172.6 367.9l-97.7 97.7L0 390.7v195.4h195.4l-74.9-74.9 97.7-97.7-45.6-45.6zM195.4 0H0v195.4l74.9-74.9 97.7 97.7 45.6-45.6-97.7-97.7L195.4 0zm195.3 0l74.9 74.9-97.7 97.7 45.6 45.6 97.7-97.7 74.9 74.9V0H390.7zm22.8 367.9l-45.6 45.6 97.7 97.7-74.9 74.9h195.4V390.7l-74.9 74.9-97.7-97.7z"
          />
        </svg>
      </a>
    </div>
    <div class="content">
      <p>{{ post.content }}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% if is_paginated %}
<div class="pagination">
  {% if page_obj.has_previous %}
  <a href="?page=1">First</a>
  <a href="?page={{page_obj.previous_page_number}}">Previous</a>
  {% endif %} {% for num in page_obj.paginator.page_range %} 
  {% if page_obj.number == num %}
  <a class="current-page" href="?page={{num}}">{{num}}</a>
  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
  <a href="?page={{num}}">{{num}}</a>
  {% endif %} {% endfor %} {% if page_obj.has_next %}
  <a href="?page={{page_obj.next_page_number}}">Next</a>
  <a href="?page={{page_obj.paginator.num_pages}}">Last</a>
  {% endif %} 
  {% endif %}
</div>

{% endblock %}
